.test-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: 104px;
}

.content-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  width: 100vw;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.users {
  margin-right: 10px;
}

.test-assignment {
  font-size: 40px;
  font-family: Nunito, sans-serif; /*need add this styles*/
  line-height: 40px;
}

.defines {
  font-size: 16px;
  font-family: Nunito, sans-serif;
  line-height: 26px;
  margin-bottom: 32px;
}

.test-assignment,
.defines {
  width: 380px;
}
