.working-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.working-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.working_title {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 32px 50px 32px;
}

.working_form {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 328px;
}

input[type='radio'] {
  margin-right: 12px;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
  height: 54px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  color: #7e7e7e;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 50px;
  padding: 16px;
  box-sizing: border-box;
}

input[type='file'] {
  display: flex;
  position: relative;
  bottom: 54px;
  padding: 16px;
  width: 100%;
  border: 1px solid #000000;
  display: none;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 54px;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 1px;
  height: 54px;
  width: 83px;
  z-index: 1;
}

.custom-file-upload_placeholder {
  display: flex;
  align-items: center;
  position: relative;
  width: 380px;
  height: 54px;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  padding-left: 96px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 7px;
}

button[type='submit'] {
  background-color: #b4b4b4;
  color: rgba(255, 255, 255, 0.87);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -13px;
  margin-bottom: 47px;
}

.select-position {
  line-height: 25px;
  margin-bottom: 11px;
}

button[type='submit'] {
  background-color: #b4b4b4;
  color: rgba(255, 255, 255, 0.87);
  margin-top: 50px;
  margin-bottom: 100px;
}
