* {
  text-align: center;
  box-sizing: border-box;
  font-family: Nunito, sans-serif; /*need add this styles*/
}

body {
  background-color: #f8f8f8;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #f4e041;
  color: #000000de;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
}
