* {
  text-align: center;
  box-sizing: border-box;
  font-family: Nunito, sans-serif; /*need add this styles*/
}

body {
  background-color: #f8f8f8;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: hsl(56, 79%, 62%);
  color: var(--black-87, rgba(0, 0, 0, 0.87));
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
}
